<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Unidad Educativa Toribio Claure
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card color="danger">
    <ion-card-header>
      <ion-card-subtitle>Actividades</ion-card-subtitle>
      <ion-card-title>Suspencion de clases</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Debido a la situación que esta atravesando el país la unidad educativa Toribio Claure acata las medidas de cuarentena
      por lo que las clases se suspenden mientras dure la declaratoria de emergencia sanitaria.
    </ion-card-content>
  </ion-card>

</ion-content>
